/*

	INSTRUCTIONS ---------------------------------------------------------------------------------
  
  1. link this stylesheet in the head of your HTML
  	 <link href="YOUR PATH/dj-calendar.css" rel="stylesheet" type="text/css" />
     
  2. Set the file name as data-theme attribute on your input
  	 <input data-theme="dj-calendar" />
     
  3. That's it!
  
  When you run script the style will be automatically applied.

*/
div.datedropper.dj-calendar {
  border-radius: 8px;
  width: 180px;
}
div.datedropper.dj-calendar .picker {
  border-radius: 8px;
  box-shadow: 0 0 32px 0px rgba(0, 0, 0, 0.1);
}
div.datedropper.dj-calendar .pick-l {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
div.datedropper.dj-calendar:before,
div.datedropper.dj-calendar .pick-submit,
div.datedropper.dj-calendar .pick-lg-b .pick-sl:before,
div.datedropper.dj-calendar .pick-m,
div.datedropper.dj-calendar .pick-lg-h {
  background-color: #007bff;
}
div.datedropper.dj-calendar .pick-y.pick-jump,
div.datedropper.dj-calendar .pick li span,
div.datedropper.dj-calendar .pick-lg-b .pick-wke,
div.datedropper.dj-calendar .pick-btn {
  color: #007bff;
}
div.datedropper.dj-calendar .picker,
div.datedropper.dj-calendar .pick-l {
  background-color: #FFF;
}
div.datedropper.dj-calendar .picker,
div.datedropper.dj-calendar .pick-arw,
div.datedropper.dj-calendar .pick-l {
  color: #6c757d;
}
div.datedropper.dj-calendar .pick-m,
div.datedropper.dj-calendar .pick-m .pick-arw,
div.datedropper.dj-calendar .pick-lg-h,
div.datedropper.dj-calendar .pick-lg-b .pick-sl,
div.datedropper.dj-calendar .pick-submit {
  color: #FFF;
}
div.datedropper.dj-calendar.picker-tiny:before,
div.datedropper.dj-calendar.picker-tiny .pick-m {
  background-color: #FFF;
}
div.datedropper.dj-calendar.picker-tiny .pick-m,
div.datedropper.dj-calendar.picker-tiny .pick-m .pick-arw {
  color: #6c757d;
}
div.datedropper.dj-calendar.picker-lkd .pick-submit {
  background-color: #FFF;
  color: #6c757d;
}
